<div class="card" style="margin-top: 50px">
  <div class="card-header">
    <div class="float-start">
      <h4>Tasks</h4>
    </div>
    <div class="float-end">
      <button type="button" class="btn btn-primary" [routerLink]="['new']">
        New Task
      </button>
      <button type="button" class="btn btn-primary" (click)="onRefresh()">
        Refresh
      </button>
    </div>
  </div>
  <div class="card-body">
    <table
      class="table table-hover"
      *ngIf="tasks$ | async as tasks; else loadingNoError"
    >
      <thead>
        <tr>
          <th>#</th>
          <th>Task</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td class="align-middle">{{ task.id }}</td>
          <td class="align-middle">
            <div>{{ task.title }} - {{ task.subject.name }}</div>
            <div
              class="task-status"
              [ngClass]="{
                todo: task.status === 'TODO',
                doing: task.status === 'DOING',
                done: task.status === 'DONE'
              }"
            >
              {{ task.status }}
            </div>
          </td>
          <td class="align-middle">
            <span class="float-end">
              <button
                class="btn btn-outline-info mb-1 btn-sm"
                (click)="onVisualize(task.id)"
              >
                Visualize
              </button>
              <button
                class="btn btn-outline-warning mb-1 btn-sm"
                (click)="onEdit(task.id)"
              >
                Update
              </button>
              <button
                class="btn btn-outline-danger mb-1 btn-sm"
                (click)="onDelete(task)"
              >
                Delete
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #loadingNoError>
      <span>Loading tasks...</span>
    </ng-template>
  </div>
</div>
